<!-- Masthead-->

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        
        
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets\Lib image add2.png"> 
                
                
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                
                
            </div>
        </div>
    </div>
</header>